.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:var(--NavbarColorA);
  backdrop-filter: blur(6px);

  padding: 0.5rem 2rem;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box;
}

/* Logo on left side of screen */
.navbar-logo {
  padding-right: 20px;
  color: var(--TextColorA);
  font-size: 24px;
  
}

/* Container for navigation buttons on right side*/
.nav-items {
  display: flex; /* Use flexbox for the buttons layout */
  align-items: center; /* Aligns items vertically in the center */
  gap: 1rem; /* Add some space between the buttons */
  margin-left: auto; /* Push the navigation buttons to the right */
}
.nav-links {
  display: flex; /* Use flexbox for the buttons layout */
  align-items: center; /* Aligns items vertically in the center */
}
.nav-links a {
  padding: 0.6rem;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  transition: filter 0.25s;
}
.navbutton {
  background: transparent;
  color: var(--TextColorA);
}
.resumebutton {
  color: var(--TextColorA);
  background: var(--green);
  border-radius: 100px;
}

/* Separator styling */
.separator {
  height: 20px; /* Adjust if necessary to fit the navbar height */
  width: 1px; /* Thickness of the separator */
  background-color: white; /* Color of the separator, ensure it contrasts with the navbar background */
  opacity: 0.5; /* Adjusts the opacity of the separator lines */
  margin: 0 8px; /* Optional: Add some horizontal space around the separator */
}

/* Light/Dark Mode button */
input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
  outline: none;
}
label {
  cursor: pointer;
  text-indent: -9999px;
  width: 55px;
  height: 30px;
  background: var(--green);
  display: block;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: relative;
  margin-left: auto;
  right: 10px;
}
input:checked + label {
  background: var(--BackgroundColorA);
}
/* Creates button for menu D/L */
label:after {
  content: '';
  background: #FFF;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 4px;
 transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
}
input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

/* Large screens setting */
@media only screen and (max-width: 800px) {
  label {
  position: relative;
 }
}

.menu {
  width: 2rem;
  height: 0.2rem;
  background: #FFF;
  position: relative;
  cursor: pointer;

  display: block; /* Make sure the menu bar is displayed */
  transition: background 0.3s ease; /* Smooth transition for background color change */
}

.menu{
  width: 2rem;
  height: 0.2rem;
  background: #FFFF;
  position: relative;
  cursor: pointer;
  display: none;
}

.menu:before, .menu:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0.2rem;
  background: #FFFF;
  cursor: pointer;
  transition: .6s;
}
.menu:before{
  bottom: 0.5rem;
}
.menu:after{
  top: 0.5rem;
}
.menu.active:before{
  bottom: 0;
  transform: rotate(45deg);
}
.menu.active:after{
  top: 0;
  transform: rotate(135deg);
}
.menu.active{
  background-color: rgba(0, 0, 0, 0);
}


@media (max-width: 960px){
  /* padding: 1.8rem 3rem; */

  .menu{
    display: block;
  }
  .nav-links {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #016fb9;
    top: 0;
    left: 0;
    transition: opacity 0.25s;
    background-color: var(--green);
  }
  .nav-links.active {
    background-color: var(--pink);
  }
  .nav-links.active {
    opacity: 1;
    visibility: visible;
  }
  .nav-links.active .separator{
    visibility: hidden;
  }

}
